h1.a {
    border-left: 6px solid #08c1fffd;
	background-color: rgb(233, 209, 103);
	font-family: 'Optima', san-serif;
	color: black;
	font-size: 16pt;
}
body {
    background-color:rgb(226, 226, 226);
}
